.animated-image {
    animation: moveUpDown 1s infinite alternate ease-in-out;
  }
  
  @keyframes moveUpDown {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(200px);
    }
  }



 